@font-face {
  font-family: 'HiraKaku';
  src: url('../assets/fonts/hiragino-kaku-gothic-pro-w6.otf') format('opentype'); /* Adjust the file path and format accordingly */
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 100;
  src: url('../assets/fonts/static/NotoSansJP-Thin.ttf') format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/static/NotoSansJP-ExtraLight.ttf') format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/static/NotoSansJP-Light.ttf') format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/static/NotoSansJP-Regular.ttf') format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/static/NotoSansJP-Medium.ttf') format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/static/NotoSansJP-SemiBold.ttf') format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/static/NotoSansJP-Bold.ttf') format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/static/NotoSansJP-ExtraBold.ttf') format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/static/NotoSansJP-Black.ttf') format('truetype');
  font-display: fallback;
}

//

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('../assets/fonts/static/Inter-Thin.ttf') format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/static/Inter-ExtraLight.ttf') format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/static/Inter-Light.ttf') format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/static/Inter-Regular.ttf') format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/static/Inter-Medium.ttf') format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/static/Inter-Bold.ttf') format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/static/Inter-ExtraBold.ttf') format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/static/Inter-Black.ttf') format('truetype');
  font-display: fallback;
}
