#root {
  height: '100%';
  width: '100%';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:active,
  :focus {
    outline: none !important;
  }
}

body,
html {
  margin: 0;
  height: 100%;
  display: block;
  line-height: 1.5;
  font-size: 1rem;
  font-family: 'Nunito', 'HiraKaku', 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

link,
a {
  color: inherit;
  text-decoration: 'none';
  cursor: pointer;

  &:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  &:--active {
    color: inherit;
    background-color: inherit;
  }

  &:visited {
    color: inherit;
    text-decoration: none;
  }

  &:focus {
    color: inherit;
    background-color: inherit;
  }
}

span {
  display: inline-block;
  font-weight: inherit;
}

.box-shadow {
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.15), 0 0px 5px 0 rgba(0, 0, 0, 0.15);
}

.box-shadow-t {
  box-shadow: 0 -1px 0px 0px rgba(0, 0, 0, 0.15), 0 -2px 5px 0 rgba(0, 0, 0, 0.15), 0px -1px 5px 0 rgba(0, 0, 0, 0.15);
}

/*
   *  Custom scroll
   */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(234, 108, 0, 1);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(234, 108, 0, 1);
  border: 2px solid rgb(141, 141, 141);
}

@import 'loading.scss';
@import 'fonts.scss';
