.logo-app {
  height: 100%;
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-size: contain;
  object-fit: contain;
}

.icon-challenge {
  height: 32px;
  width: 32px;
  background-size: contain;
  object-fit: contain;
}
